@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f8f9fa;
  }

  h1, h2, h3 {
    @apply font-headline;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
  }
  .editorial-shadow {
    box-shadow: 0 12px 40px rgba(25, 28, 29, 0.06);
  }
  .glass-header {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(20px);
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
